@charset "utf-8";
/* CSS Document */

.dash-tile {
	min-height: 164px;
	background-color: #e9e9e9;
	margin: 0 0 20px;
	padding: 0 20px
}
.dash-tile-2x {
	min-height: 400px
}
.dash-tile-header {
	font-size: 18px;
	margin: 0 -20px;
	padding: 0 4px 0 13px;
	min-height: 38px;
	line-height: 45px;
	font-weight: 700;
	border-bottom: 2px solid #ddd;
	background-color: #eee
}
.dash-tile-options {
	float: right;
	height: 38px;
	line-height: 41px
}
.dash-tile-options a:hover {
	text-decoration: none;
	color: #333
}
.dash-tile-content {
	margin: 0 -20px;
	padding: 10px
}
.dash-tile-2x .dash-tile-content {
	padding: 15px
}
.dash-tile-content-inner {
	height: 130px
}
.dash-tile-2x .dash-tile-content-inner {
	height: 330px
}
.dash-tile-content-inner-fluid {
	min-height: 130px
}
.dash-tile-2x .dash-tile-content-inner-fluid {
	min-height: 330px
}
.dash-tile-content-light {
	background-color: #f9f9f9;
	padding: 10px
}
.dash-tile-content .alert {
	margin: 5px 0
}
.dash-tile-icon, .dash-tile-text {
	line-height: normal;
	color: #fff
}
.dash-tile-icon {
	float: left;
	padding: 40px 0 0;
	font-size: 40px;
	text-align: left
}
.dash-tile-text {
	float: right;
	padding: 48px 0 0;
	font-size: 36px;
	text-align: right
}
.dash-tile-text1 {
	border-radius: 25px;
	width: 30px;
	height: 30px;
	background: #FFF;
	text-align: center;
	padding: 5px;
	color:#000;
	font-size:14px;
	float: right;
	margin-top: -5px;
	margin-left: 9px;
}
.dash-tile-ul {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}
.dash-tile-ul li {
	list-style: none;
	margin: 10px 0px;
	font-size:12px;
	color:#FFF;
	float: left;
}
.dash-tile-ul li a{ color:#FFF;}
.dash-tile-balloon .dash-tile-header, .dash-tile-dark .dash-tile-header, .dash-tile-doll .dash-tile-header, .dash-tile-flower .dash-tile-header, .dash-tile-fruit .dash-tile-header, .dash-tile-leaf .dash-tile-header, .dash-tile-ocean .dash-tile-header, .dash-tile-oil .dash-tile-header {
	border-bottom: 2px solid #f9f9f9;
	background-color: #eee;
	opacity: .75;
	filter: alpha(opacity=75)
}
.dash-tile-balloon.no-opacity .dash-tile-header, .dash-tile-dark.no-opacity .dash-tile-header, .dash-tile-doll.no-opacity .dash-tile-header, .dash-tile-flower.no-opacity .dash-tile-header, .dash-tile-fruit.no-opacity .dash-tile-header, .dash-tile-leaf.no-opacity .dash-tile-header, .dash-tile-ocean.no-opacity .dash-tile-header, .dash-tile-oil.no-opacity .dash-tile-header {
	opacity: 1;
	filter: alpha(opacity=100)
}
.dash-tile-balloon:hover, .dash-tile-dark:hover, .dash-tile-doll:hover, .dash-tile-flower:hover, .dash-tile-fruit:hover, .dash-tile-leaf:hover, .dash-tile-ocean:hover, .dash-tile-oil:hover {
	opacity: .9;
	filter: alpha(opacity=90)
}
.dash-tile-balloon.no-opacity:hover, .dash-tile-dark.no-opacity:hover, .dash-tile-doll.no-opacity:hover, .dash-tile-flower.no-opacity:hover, .dash-tile-fruit.no-opacity:hover, .dash-tile-leaf.no-opacity:hover, .dash-tile-ocean.no-opacity:hover, .dash-tile-oil.no-opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100)
}
.dash-tile-leaf {
	background-color: #c2db39
}
.dash-tile-dark {
	background-color: #555
}
.dash-tile-ocean {
	background-color: #3991db
}
.dash-tile-flower {
	background-color: #9139db
}
.dash-tile-fruit {
	background-color: #db9839
}
.dash-tile-oil {
	background-color: #d9db39
}
.dash-tile-balloon {
	background-color: #db6739
}
.dash-tile-doll {
	background-color: #db39bb
}
.dash-tile-ul select{ color:#000;  width: 150px;}
.dash-img{margin: 0 0 20px;}