/*!
* Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html,body {height: 100%;background:#FFFFFF;}
img{max-width: 100%;}
.topbar{background:#000;}
.topbar .form-control{ background:#d7d7d7; color:#000000;    width: 165px;    margin: 8px;    padding: 4px 12px;}
.topbar .btn-danger{ margin: 8px 0px; text-transform:uppercase;    padding: 4px 12px;}
.topbar ::-webkit-input-placeholder {color:#191516;}
.topbar :-moz-placeholder { /* Firefox 18- */color:#191516;}
.topbar ::-moz-placeholder {  /* Firefox 19+ */color:#191516; }
.topbar :-ms-input-placeholder {  color:#191516;}
.navbar-nav { text-align:center; color:#000}
.navbar-nav .fa{background: #e31e25;color: #000;border-radius: 30px;width: 50px;height: 50px;text-align: center;padding-top: 14px;font-size: 20px;}
.navbar-inverse .navbar-nav > .active > a .fa{ background:#cfcfcf;}
.nav > li > a:hover .fa, .nav > li > a:focus .fa{ background:#cfcfcf;}
.carousel,.item,.active {height: 100%;}
.carousel-inner {height: 100%;}
a:hover{ text-decoration:none; color:#d95045;}
.topdiv{background: #292929;border-color: #292929;border-bottom: 1px solid #000;padding:10px 0px; min-height:50px; color:#FFFFFF;}
.topdiv h3{ margin:0; text-transform:uppercase; font-size:25px;}
.topdiv h5{ margin: 5px 0 0 0; font-size:18px;}
.topdiv h6{ margin: 8px 0 0 0; font-size:14px; text-transform:uppercase}
.secondtopdiv{ min-height: 80px; background:#d95045; border-bottom: 1px solid #000; color:#FFFFFF;padding:20px 0px; /*margin-bottom:30px;*/}
.secondtopdiv h5{margin:0; font-size:18px; float:left; padding-right:10px;}
.secondtopdiv em{ font-size:13px;}
/*Login*/
.account-container {width: 390px;display: block;margin: 60px auto 0 auto;background: #f9f9f9;border: 1px solid #d5d5d5;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.login-action {float: right;margin-top: 18px;}
.content {padding: 16px 28px 23px;}
.login-fields {}
.login-fields .field {margin-bottom: 1.25em;}
.field, .field a{color: #525151;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.field a:hover{color:#d95045;}
.login-fields label {display: none;}
.login-fields input { font-family: 'Open Sans', sans-serif;font-size: 13px;color: #8e8d8d;padding: 11px 15px 10px 50px;background-color: #fdfdfd;width: 100%;display: block;margin: 0;box-shadow: inset 2px 2px 4px #f1f1f1;height: 40px;}
.username-field {background: url(../images/user.png) no-repeat;}
.password-field {background: url(../images/password.png) no-repeat;}
.login-actions {float: left;width: 100%;}
span.login-checkbox {float: left;}
span.login-checkbox > input[type='checkbox'] {opacity: 0;float: left;width: 15px;}
span.login-checkbox > input[type='checkbox'] + label {clear: none;height: 15px;display: block;padding: 0 0 0 22px;margin: 0;font-size: 13px;line-height: 1.2em;background: url(../images/check.png) no-repeat 0 0;cursor: pointer; color: #525151; font-weight:normal;}
span.login-checkbox > input[type='checkbox']:checked + label {background-position: 0 -15px;}
.account-container h1, .user-container h1 {margin-bottom: 25px;color: #d95045;font-size: 25px; margin-top:0px; border-bottom:#cacaca 1px solid;padding-bottom: 15px;}
footer{ background:#FFFFFF; border-top:#e0e0e0 1px solid; text-align:center; color:#a0a0a0; font-size:13px; padding:25px 0px; margin-top:30px;}
footer a{ color:#a0a0a0;}
footer a:hover{ text-decoration:none; color:#d95045;}
.footer-inner {background:#0b0b0b; font-size:13px;padding: 30px 0; color:#525252; text-align:center;}
.footer-inner ul{ margin:0; padding:0; text-align:center;}
.footer-inner li{ list-style:none; float:left; display:block; padding:0px 6px;border-left: #575757 1px solid; line-height: 10px;}
.footer-inner li a{ color:#575757;}
.footer-inner p{ float:right;}
.footer-inner li a:hover{color: #FF0000;}
.footer-inner li:first-child {border-left: 0;}
.carousel-caption h1{font-size:30px; color:#FFFFFF; font-weight:bold;}
.carousel-control img{margin-top: 100%;}
.menubtn{}
.menubtn button{margin: 0 10px 10px 0;border-radius: 4px;border: 0px;padding: 6px 10px;background: #292929;  border-color: #292929;  border-bottom: 1px solid #000;}
/*5-1-15*/
.user-container {width: 490px;display: block;margin: 60px auto 0 auto;background: #f9f9f9;border: 1px solid #d5d5d5;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.user-fields input, .user-fields textarea { font-family: 'Open Sans', sans-serif;font-size: 13px;color: #8e8d8d;padding:7px 15px 7px 10px;background-color: #fdfdfd;width: 70%;display: block;margin: 0;box-shadow: inset 2px 2px 4px #f1f1f1;height: 35px;}
.user-fields textarea{height: 80px;}
.user-fields select { font-family: 'Open Sans', sans-serif;font-size: 13px;color: #8e8d8d;padding:7px 15px 7px 10px;background-color: #fdfdfd;width: 70%;display: block;margin: 0;box-shadow: inset 2px 2px 4px #f1f1f1;height: 35px;border: 1px solid #ccc;border-radius: 4px;}
.user-fields label {width: 30%;display: block; float:left; font-weight:normal;font-size: 13px; }
.user-fields .field {margin-bottom: 1.25em;}
.user-fields .multiselect{ height:150px;}
.linkred{ color:#d95045;}
.user-dts{ border:1px solid #ccc; background:#f1f1f1; font-size:12px;}
.user-dts th{ border-bottom:#cacaca 1px solid; color:#000000; padding:10px;}
.user-dts td{ color:#656565; padding:5px 10px;}
.user-dts td:last-child, .user-dts th:last-child{ text-align:center;}
/*6-1-15*/
.user-fields fieldset{padding: 7px 15px 7px 10px;background-color: #fdfdfd;width: 70%;display: block;margin: 0;box-shadow: inset 2px 2px 4px #f1f1f1;border: 1px solid #ccc;
border-radius: 4px; overflow-y: scroll; height:150px;}
.user-fields fieldset input[type="checkbox"]{font-family: 'Open Sans', sans-serif;font-size: 13px;color: #8e8d8d;padding: 7px 15px 7px 10px;background-color: #fdfdfd;width:auto;
display: block;margin: 0;box-shadow:inset 0px 0px 0px #f1f1f1;height: 20px;float: left;}
.user-fields fieldset label{ width: 90%;margin-left: 3%;}
/*6-3-15*/
.user-container-large {width: 78%;}
.user-container-large h1 { float:left;margin-bottom: 0px;color: #d95045;font-size: 25px; margin-top:0px; border-bottom:none;padding-bottom: 0px;}
.user-container-large .small{line-height: 31px;margin-left: 20px;color: #b2b2b2;}
.user-container-large .btn{ margin:0px;}
.vehicle-list{ margin:20px 0px;}
.vehicle-list th{ font-weight:normal;color: #000; font-size: 15px; border-bottom:#cacaca 1px solid;border-top:#cacaca 1px solid; padding:6px 10px; border-left: #cacaca 1px solid;}
.vehicle-list th:first-child {border-left: none;padding:6px 0px}
.vehicle-list td{padding:6px 10px; border-left: #cacaca 1px solid;}
.vehicle-list td:first-child {border-left: none;padding:6px 0px}
.find{ width:100px;font-family: 'Open Sans', sans-serif;font-size: 13px;color: #FF0000;padding: 7px 15px 7px 10px;background: url(../images/find.png) right center no-repeat #fdfdfd;display: block;margin: 0;box-shadow: inset 2px 2px 4px #f1f1f1; height: 29px; border: 1px solid #ccc; border-radius: 6px;}
.radiogroup label {}
.radiogroup input{width: auto;box-shadow: inset 0px 0px 0px #f1f1f1;height: auto;display: inline;}
.large textarea { width:100%;}
/*19-3-15*/
.calldtls-h1{ border-bottom:0px !important; float:left;padding-bottom: 0px !important; margin-bottom: 0px !important;}
hr{border-top: #cacaca 1px solid;margin: 10px 0px 20px;}
.calldate{ color:#000; float:right;}
/*7-4-15*/
.dashboard-main h1 {margin: 35px 0;color: #d95045;font-size: 25px;text-align:center;}
.dashboard-link{ border:1px solid #CCC; background:#FFF; padding:10px;  float: left;  width: 100%;}
.dashboard-link ul{ margin:0; padding:0;}
.dashboard-link li{ float:left; list-style:none; padding:0px 10px;}
/*5-5-15*/
.dash-tile-oil, .dash-tile-balloon, .dash-tile-doll{ padding:0 !important;}
.table-thing{ width:100%;}
.table-thing table{width:100%;}
.dash-tile-oil .table-thing th{border-bottom: 2px solid #f9f9f9;background-color: #eee;opacity: .75; filter: alpha(opacity=75); padding: 12px 16px; border-right:1px solid #b1c92b;}
.table-thing th:last-child, .table-thing td:last-child{border-right:0px !important;}
.dash-tile-oil .table-thing td{ border-right:1px solid #b1c92b;  padding: 3px 16px;}
.dash-tile-balloon .table-thing th{border-bottom: 2px solid #f9f9f9;background-color: #eee;opacity: .75; filter: alpha(opacity=75); padding: 12px 16px; border-right:1px solid #e5c18d;}
.dash-tile-balloon .table-thing td{ border-right:1px solid #e5c18d;  padding: 3px 16px;}
.dash-tile-doll .table-thing th{border-bottom: 2px solid #f9f9f9;background-color: #eee;opacity: .75; filter: alpha(opacity=75); padding: 12px 16px; border-right:1px solid #d59ac9;}
.dash-tile-doll .table-thing td{ border-right:1px solid #d59ac9;  padding: 3px 16px;}
 @media screen and (max-width : 768px){
.topdiv h3, .topdiv h5, .topdiv h6, .secondtopdiv, .secondtopdiv .text-right{text-align:center !important;}
.secondtopdiv {padding: 10px 0px;}
.secondtopdiv h5{ float:none;}
.user-container-large {width: 100%;}
}
@media (max-width: 480px) {
.account-container {width: 280px;margin-top: 35px;}
.user-container {width: 280px;margin-top: 35px;}
.user-container-large {width:  100%;}
.user-fields label { float:none;width: 100%;}
.user-fields input { width: 100%;}
.login-fields input {width: 160px;}
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {width: 100%;height: 100%;background-position: center ;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}

.imgMiddle{
	background: url(../images/banner-img1.png);
}
